{%extends 'base.html'%} {%block content%} {%for msg in get_flashed_messages()%}
<p>{{msg}}</p>
{%endfor%}

<div class="container">
  <ol>
    {% for pet in pets %}
    <div class="row">
      <ul>
        <div class="row-2">
          <a href="/{{pet.id}}" class="btn btn-primary">{{pet.name}}</a>
        </div>

        <img
          class="img-thumbnail"
          src="{{pet.photo_url}}"
          alt="Picture of my pet"
        />

        <div class="row mb-3">
          {% if pet.available %}
          <div><strong>Available</strong></div>
          {% endif %} {% if not pet.available %}
          <div><strong>Adopted</strong></div>
          {% endif %}
        </div>
      </ul>
    </div>
    {%endfor%}
  </ol>

  <a class="btn btn-success" href="/add">Add New Pet</a>
</div>

{%endblock%}
